<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        <!--configuration核心配置文件-->
<configuration>

<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--    &lt;!&ndash;   事务管理&ndash;&gt;-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--    &lt;!&ndash;   驱动&ndash;&gt;-->
<!--            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--    &lt;!&ndash;  &amp;==&  &ndash;&gt;-->
<!--            <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>-->
<!--            <property name="username" value="root"/>-->
<!--            <property name="password" value="123456"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

<!--    <mappers>-->
<!--        <mapper class="com.jie.dao.UserMapper"/>-->
<!--    </mappers>-->
</configuration>