<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.jie.pojo.Address">
        <property name="address" value="chengdu"/>
    </bean>
    <bean id="student" class="com.jie.pojo.Student" scope="si" >
        <!--常量-->
        <property name="name" value="jie"/>
        <!--引用-->
        <property name="address" ref="address"/>
        <!--数组-->
        <property name="books" >
            <array>
                <value>红楼梦</value>
                <value>水浒传</value>
            </array>
        </property>
        <!--list-->
        <property name="hobbys">
            <list>
                <value>唱</value>
                <value>跳</value>
                <value>rap</value>
            </list>
        </property>
        <!--map-->
        <property name="card">
            <map>
                <entry key="姓名" value="jie"/>
                <entry key="电话号" value="13103617823"/>
            </map>
        </property>
        <!--set-->
        <property name="games">
            <set>
                <value>lol</value>
                <value>bob</value>
            </set>
        </property>
        <!--null-->
        <property name="wife">
            <null></null>
        </property>
        <!--properties-->
        <property name="info">
            <props>
                <prop key="driver">com.jie.pojo</prop>
                <prop key="name">jie</prop>
            </props>
        </property>
    </bean>
</beans>